version: '3'

services:

  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile.prod
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    networks:
      - node-network
      
  app:
    build: 
      context: ./node
      dockerfile: Dockerfile
    container_name: app
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./node:/usr/src/app
    networks:
      - node-network
    depends_on:
      - db

  db:
    platform: linux/x86_64
    image: mysql:5.7
    restart: always
    container_name: db
    tty: true
    volumes:
      - ./db/data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=nodedb
    networks:
      - node-network

networks:
  node-network:
    driver: bridge